name: generate CHANGELOG

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  create-changelog:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Generate changelog
        run: |
          git log --no-merges --pretty=format:"- [%cn (%cN)](https://github.com/%cn): %s [#%h](https://github.com/${{ github.repository }}/commit/%H)" --invert-grep --grep="Automated changes" > CHANGELOG.md

      - name: Commit and push changes
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add CHANGELOG.md
          git commit -m "Automated changes"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: "!contains(github.event.head_commit.message, 'Automated changes')"
